/* ===================================================

  トップページスタイル

=====================================================*/

/* mainImage */

#hLeft {
		width : 760px  !important ;
		padding : 20px 0  !important;
		float:inherit !important;
		display:inherit !important;
	}
	
		#hLeft p {
			width:520px !important;
			padding:18px 0 0 0 !important;
		}

#request {
	margin-bottom:20px;
}

#request ul {
	margin-bottom:20px;	
}

	#request ul li{
		padding : 0 0 5px 0 ;
	}

#request table {
	width : 100% ;	
}

#request input {
	margin: 0 10px 0 0 ;
	padding:5px;
}

#request table span {
	margin: 0 10px 0 0 ;
}

label {
	margin : 0 10px 0 0;	
}

.error {
	color:#f00;	
}

/* input */

input , select , textarea {
	padding : 7px !important;	
}

input.rollover {
	padding : 0 !important ;	
}

#name1 {
	margin: 0 30px 0 13px !important;
}

#name2 {
	margin: 0 0 0 13px !important;
}

#furi1 {
	margin: 0 30px 0 0 !important;
}

#furi2 {

}

#zip1 {width:40px;}
#zip2 {width:60px;}

#address , #building {width:500px;}

#email , #email2 {width:300px;}

#tel1 , #tel2 , #tel3 {width:80px;}

/* table */

table#form_A th {
	color:#fff;
	width : 240px ;
	vertical-align:top;
	line-height:300%;
	text-align:left;
	padding : 10px 20px ;
	border-bottom:1px dotted #fff ;
	background:#d53f99;
}

table#form_A td {
	padding : 10px 20px ;
	line-height:300%;
	border-bottom:1px dotted #ccc ;
}

#free {
	padding : 10px 20px ;
	background:#eee;	
	border-bottom:1px solid #fff ;
}

table#form_B th {
	color:#fff;
	width : 240px ;
	text-align:left;
	vertical-align:top;
	line-height:300%;
	padding : 10px 20px ;
	border-bottom:1px dotted #fff ;
	background:#cbb;
}

table#form_B td {
	padding : 20px ;
	line-height:300%;
	border-bottom:1px dotted #ccc ;
}

#formBtn {
	text-align:center;
	padding : 20px ;
}
