@charset "UTF-8";
/*-----------------------------------

	sitemap

-----------------------------------*/

/*-----------------------------------

	sitemap_block

-----------------------------------*/
#sitemap_block {
	padding:50px 0 70px;
	background:#fff;
}
#sitemap_block ul li {
	font-size:20px;
	position:relative;
	padding: 10px 0;
}
#sitemap_block ul li:nth-child(2n) a {
	background: #e2f0fb;
}
#sitemap_block ul li a{
	color:#414038;
	display: block;
	padding: 30px 30px 30px 40px;
}
#sitemap_block ul li a:hover{
	color: #ffb400;
}
#sitemap_block ul li a:before {
	content: "";
    display: block;
    width: 8px;
    height: 25px;
    background: #3f9ee4;
    position: absolute;
    left: 10px;
    bottom: 0;
	top: 0;
	margin: auto;
}

@media screen and (max-width: 640px) {

	#sitemap_block {
		padding:40px 0 60px;
		background:#fff;
	}
	#sitemap_block ul li {
		font-size:18px;
		position:relative;
		padding: 0;
	}

}
